
<table class="profile" summary="Feed List">
  <tr>
  	<td class="main">
  	  <h1>
        <%= @feed.name %>
      </h1>
    </td>
    <td class="sidebar round">
    	<strong>Name</strong> <%= @feed.name %> <br />
    	<strong>URL</strong> <%= @feed.url %> <br />
    </td>
  </tr>
</table>
