.DS_Store
*.rbc
*.sassc
.sass-cache
capybara-*.html

.project
.env

/config/application.yml
/config/database.yml
/db/*.sqlite3

/.bundle
/vendor/bundle

/log/*
/tmp/*

/public/system/*
/public/documents/*
/coverage/
/spec/tmp/*
**.orig
rerun.txt
pickle-email-*.html
# Ignore application configuration
/config/application.yml

