<p>Add Category <%= link_to "here", :controller => "categories", :action => "new" %></p>
<p>Add Publisher <%= link_to "here", :controller => "publishers", :action => "new" %></p>
<p>Add XML URLs <%= link_to "here", :controller => "pub_cats", :action => "new" %></p>
<br /><hr />