<p>Add Category <%= link_to "here", new_admin_category_path %></p>
<p>Add Publisher <%= link_to "here", new_admin_publisher_path %></p>
<p>Add Newsfeed URLs <%= link_to "here", new_admin_newsfeed_path %></p>
<br /><hr />